html {
  background-color: grey !important;
}

#app {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.button-container > * {
  margin: 0.25rem;
}

button > :nth-child(1) {
  margin-right: 0.5em;
}

canvas {
  border-style: dashed;
  border-width: 0.25em;
}

div.overlay {
  position: absolute;
  margin-top: 2em;
}