html {
  background-color: grey !important;
  height: 100%;
  width: 100%;
  --spacing: 1.5em;
}

body {
  height: 100%;
  width: 100%;
}

#app {
  width:100%;
  height:100%;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#canvas-container {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 570px) {
  .button-container {
    flex-direction: column;
  }
}

@media screen and (max-height: 650px) {
  #app {
    flex-direction: row;
  }
  
  .button-container {
    flex-direction: column;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  padding: var(--spacing);
}

.button-container > * {
  margin: calc(var(--spacing) / 2);
}

button > :nth-child(1) {
  margin-right: calc(var(--spacing) / 2);
}

canvas {
  width:100%;
  height:100%;
  border-style: dashed;
  border-width: 0.25em;
}

:fullscreen > canvas {
  border-style: none !important;
}

#filename {
  max-width: max-content !important;
}